.button {
  color: #fff;
  border: none;
  border-radius: 6px;
  background-color: #409fff;
  padding: 0.5rem;
  &:active {
    background-color: #0066cc;
  }
  &:disabled {
    background-color: #949494;
  }
}
