@import 'link';
@import 'button';

.button.feedbutton {
  border-radius: 25px 0 0 25px;
  & + & {
    margin-left: 1px;
    border-radius: 0 25px 25px 0;
  }
}

.Feed {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
  width: 50vw;
}
