@import 'link';

.Subs {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
  width: 50vw;
  &__list {
    width: 100%;
    &_item {
      background-color: #fff;
      border-radius: 25px;
      margin-bottom: 1rem;
      padding: 1rem 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
